.navigation {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: 20px 30px;
  justify-content: space-between;
}

.nav-a {
  margin: 0px;
  font-size: 24px;
}

.nav-a:hover {
  color: #297fba;
  cursor: pointer;
}

.button-blue {
  padding: 10px 20px;
  box-shadow: 0 0.5rem 1rem rgb(41 127 186 / 42%) !important;
  color: white;
  border-radius: 5px;
  border: none;
  margin: 0px;
  width: 100px;
  background-color: #297fba;
  text-align: center;
}

.button-blue:hover {
  background-color: white;
  color: #297fba;
  cursor: pointer;
  text-align: center;
}

h3 {
  clear: both;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
